[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_bitly
X-KDE-PluginInfo-Author=Nick Campbell
X-KDE-PluginInfo-Email=nicholas.j.campbell@gmail.com
X-KDE-PluginInfo-Name=choqok_bitly
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://github.com/ncb000gt/choqok-bitly/
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=bit.ly Shortener
Name[es]=Acortador de bit.ly
Name[fr]=Raccourcisseur bit.ly
Name[gl]=Abreviador bit.ly
Name[it]=Abbreviatore bit.ly
Name[nds]=Afkörter för bit.ly
Name[pt]=Redutor do bit.ly
Name[pt_BR]=Encolhedor bit.ly
Name[ru]=Автосокращение bit.ly
Name[sv]=bit.ly avkortningsverktyg
Name[tr]=bit.ly Kısaltıcı
Name[uk]=Скорочувач TightUrl
Name[x-test]=xxbit.ly Shortenerxx
Comment=A Plugin to shorten urls via bit.ly service
Comment[es]=Un complemento para acortar las URL por medio del servicio de bit.ly
Comment[fr]=Un module externe pour raccourcir les URL via le service bit.ly
Comment[gl]=Un engadido para abreviar URL mediante o servizo bit.ly
Comment[it]=Un'estensione per abbreviare le URL con il servizio bit.ly
Comment[nds]=En Moduul för't Afkörten vun "bit.ly"-Adressen
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do bit.ly
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço bit.ly
Comment[ru]=Модуль для автосокращения адресов с помощью bit.ly
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten bit.ly
Comment[uk]=Додаток для скорочення адрес за допомогою служб bit.ly
Comment[x-test]=xxA Plugin to shorten urls via bit.ly servicexx
